html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

svg.canvas {
    display: block;
    width: 100%;
    height: 100%;
}

body, text {
    font-family: ui-sans-serif;
    font-size: 16px;
}

rect.target {
    fill: #ff4040;
}
